#equipament-scroll-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#equipment-scroll-content-column1, #equipment-scroll-content-column3 {
    flex: 0 0 30%;
}

#equipment-scroll-content-column2 {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#equipment-auxiliar-content {
    opacity: 1;
    height: 90vh;
    width: 40%;

    position: absolute;
    transform: translate(100%);

    transition: 1s;
}

#equipment-auxiliar-content.active {
    opacity: 1;
    transform: translate(0);
}